extends layout

block content
  .col-md-8.offset-md-2
    .card
      .card-header
        strong Quiz List
      .card-body.card-block
        .text-center
          table.table
            thead
              tr
                th(scope='col') Title
                th(scope='col') Groups
                th(scope='col') Action
            tbody
              for q in quiz
                tr
                  td= q.title
                  td
                    for g in q.groups
                      a #{g} 
                  td.t(style='width:20%')
                    if q.title == 'Result Test'
                      form(action='/quiz/startQuiz/#{q.title}')
                        button.btn.btn-primary.btn-sm(type='submit').t(style='width:100%')
                          a Take Exam
                    else
                      form(action='/quiz/result/#{q.title}')
                        button.btn.btn-secondary.btn-sm(type='result').t(style='width:100%')
                          a View result