extends layout

block content
  .col-md-6.offset-md-3
    .card
      .card-header
        strong QCM List
      .card-body.card-block
        table.table
          thead
            tr
              th(scope='col') #
              th(scope='col') Title
              th(scope='col') Group
          tbody
            tr(id='usersList')