extends layout

block content
  .col-md-8.offset-md-2
    .card
      .card-header
        strong Quiz List
      .card-body.card-block
        .text-center
          table.table
            thead
              tr
                th(scope='col') Title
                th(scope='col') Groups
                th(scope='col') Action
            tbody
              for q in quiz
                tr
                  td= q.title
                  td
                    for g in q.groups
                      a #{g.name} 
                  td.t(style='width:20%')
                    - var find = 0
                    for ua in quizanswered
                      if q.title == ua
                        - find = 1
                        form(action='/quiz/result/#{q.title}')
                          button.btn.btn-primary.t(style='width:100%').btn-sm(type='result')
                            a View result
                    if find == 0
                      form(action='/quiz/startQuiz/#{q.title}')
                        button.btn.btn-secondary.t(style='width:100%').btn-sm(type='submit')
                          a Take Exam