extends layout

block content
  .breadcrumbs
    .col-sm-4
      .page-header.float-left
        .page-title
          h1 #{title}
    .col-sm-8
      .page-header.float-right
        .page-title
          ol.breadcrumb.text-right
            li.active #{title}
  .col-md-6.offset-md-3
    .card
      .card-header
        strong New QCM
      .card-body.card-block
        input(type="button", value="Add Question",onclick="addQuestion()")
        br 
        br
        form(action='/createQCM/new', method='POST',id='qcm')
        button.btn.btn-lg.btn-info.btn-block(type='submit', form='qcm') Submit