extends layout

block content
  .col-md-8.offset-md-2
    .card
      .card-header
        strong New Quiz
      .card-body.card-block
        form(action='/quiz/new', method='POST',id='qcm')
          label Quiz Name
          input.form-control(type='text', name='nomqcm', placeholder='Name')
          label Durée maximum
          input.form-control(type='number', name='dureeqcm', value='5', min="5", step="5") 
          label Minute   
          input(type='checkbox', name='infiniteTime', value='false')    
          label Durée illimitée   
          br
          label Authorized groups
          select.form-control(name='usersgrp', multiple='multiple') 
            for g in groups
              option(value='#{g.name}')= g.name
          br
        button.btn.btn-lg.btn-info(onclick="addQuestion()") Add Question 
          i.fa.fa-plus
        br 
        br
        button.btn.btn-lg.btn-success.btn-block(type='submit', form='qcm') Submit