extends layout

block content
  .col-md-8.offset-md-2
    .card
      .card-header
        strong New QCM
      .card-body.card-block
        form(action='/quiz/new', method='POST',id='qcm')
          input.form-control(type='text', name='nomqcm', placeholder='Nom Questionnaire')
          br
          select.form-control(name='usersgrp', multiple='multiple')
            for g in groups
              option(value='#{g.name}')= g.name
          br
        button.btn.btn-lg.btn-info(onclick="addQuestion()") Add Question 
          i.fa.fa-plus
        br 
        br
        button.btn.btn-lg.btn-success.btn-block(type='submit', form='qcm') Submit