extends layout

block content
  .breadcrumbs
    .col-sm-4
      .page-header.float-left
        .page-title
          h1 #{title}
    .col-sm-8
      .page-header.float-right
        .page-title
          ol.breadcrumb.text-right
            li.active #{title}
  .col-md-6.offset-md-3
    .card
      .card-header
        strong New File
      .card-body.card-block
        br 
        br
        form(action='/file/new', method='POST',enctype= 'multipart/form-data',id='fileUp' )
          input(type="file",id="avatar" ,name="myFile")
          input(type='submit') 