extends layout

block content
  if role == "adm" || role == "prf"
    .col-md-12
      h5.heading-title.mb-1.text-secondary Creation
      .col-md-4
        .card
          .card-header
            strong.card-title New Quiz
          .card-body
            p.card-text
              | Create a new quiz to evaluate skills of your students
            .float-right
              form(action='/quiz/create')
                button.btn.btn-primary(type='button')
                  i.fa.fa-plus
                  |  Go to quiz creation	
      .col-md-4
        .card
          .card-header
            strong.card-title New Project
          .card-body
            p.card-text
              | Challenge your students skills into projects they probably can't do in one semester!
            .float-right
              form(action='/projects/create')
                button.btn.btn-primary(type='button')
                  i.fa.fa-plus
                  |  Go to project creation
      .col-md-4
        .card
          .card-header
            strong.card-title New files
          .card-body
            p.card-text
              | Upload files to share your knowledge
            .float-right
              form(action='/files/upload')
                button.btn.btn-primary(type='button')
                  i.fa.fa-upload
                  |  Go to file upload
  .col-md-12
    h5.heading-title.mb-1.text-secondary Work
    .col-md-4
      .card
        .card-header
          strong.card-title Answer Quiz
        .card-body
          p.card-text
            | Try to resolv quiz make by your favorite (or not) teachers
          .float-right
            form(action='/quiz/answer')
              button.btn.btn-primary(type='button')
                i.fa.fa-book
                |  Go to quiz answering	
    .col-md-4
      .card
        .card-header
          strong.card-title Projects
        .card-body
          p.card-text
            | Go spend time and time on impossibles projects
          .float-right
            form(action='/projects/getList')
              button.btn.btn-primary(type='button')
                i.fa.fa-table
                |  Go to projects
    .col-md-4
      .card
        .card-header
          strong.card-title Get files
        .card-body
          p.card-text
            | Download files uploaded by teacher to teach you and to be smarter
          .float-right
            form(action='/files/downlaod')
              button.btn.btn-primary(type='button')
                i.fa.fa-download
                |  Go to file download
  if role == "adm" || role == "prf"
    .col-md-12
      h5.heading-title.mb-1.text-secondary Managment
      .col-md-4
        .card
          .card-header
            strong.card-title Manage Quiz
          .card-body
            p.card-text
              | Manage quiz
            .float-right
              form(action='/quiz/manage')
                button.btn.btn-primary(type='button')
                  i.fa.fa-edit
                  |  Go to quiz managment	
      .col-md-4
        .card
          .card-header
            strong.card-title Groups managment
          .card-body
            p.card-text
              | Manage groups
            .float-right
              form(action='/administration/create')
                button.btn.btn-primary(type='button')
                  i.fa.fa-terminal
                  |  Go to groups managment