doctype html
html
 head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/themify-icons.css')
    link(rel='stylesheet', href='/css/flag-icon.min.css')
    link(rel='stylesheet', href='/css/cs-skin-elastic.css')
    link(rel='stylesheet', href='/scss/style.css')
    link(href='/css/lib/vector-map/jqvmap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800', rel='stylesheet', type='text/css')


    script(src='/js/vendor/jquery-2.1.4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js')
    script(src='/js/plugins.js')
    script(src='/js/main.js')
    script(src='/js/lib/chart-js/Chart.bundle.js')
    script(src='/js/dashboard.js')
    script(src='/js/widgets.js')
    script(src='/js/lib/vector-map/jquery.vmap.js')
    script(src='/js/lib/vector-map/jquery.vmap.min.js')
    script(src='/js/lib/vector-map/jquery.vmap.sampledata.js')
    script(src='/js/lib/vector-map/country/jquery.vmap.world.js')

    
  body
    // Left Panel
    aside#left-panel.left-panel
      nav.navbar.navbar-expand-sm.navbar-default
        .navbar-header
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-menu', aria-controls='main-menu', aria-expanded='false', aria-label='Toggle navigation')
            i.fa.fa-bars
          a.navbar-brand(href='/')
            img(src='/images/logo.png', alt='Logo')
          a.navbar-brand.hidden(href='/')
            img(src='/images/logo2.png', alt='Logo')
        #main-menu.main-menu.collapse.navbar-collapse
          ul.nav.navbar-nav
            //li.active
              a(href='/')
                i.menu-icon.fa.fa-dashboard
                | Dashboard
            //h3.menu-title
            // /.menu-title
            li.menu-item-has-children.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.menu-icon.fa.fa-list-ul
                | Quiz
              ul.sub-menu.children.dropdown-menu
                li
                  i.fa.fa-plus
                  a(href='/quiz/create') Create
                li
                  i.fa.fa-edit
                  a(href='/quiz/manage') Manage
                li
                  i.fa.fa-book
                  a(href='/quiz/answer') Answer
                li
                  i.fa.fa-certificate
                  a(href='/quiz/answer') Results
            h3.menu-title 
            li.menu-item-has-children.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.menu-icon.fa.fa-book
                | Projects
              ul.sub-menu.children.dropdown-menu
                li
                  i.fa.fa-table
                  a(href='/projects/getList') List
                li
                  i.fa.fa-plus
                  a(href='/projects/create') Create
            h3.menu-title 
            // /.menu-title
            li.menu-item-has-children.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.menu-icon.fa.fa-files-o
                | Documents
              ul.sub-menu.children.dropdown-menu
                li
                  i.menu-icon.fa.fa-upload
                  a(href='/file/upload') Upload
                li
                  i.menu-icon.fa.fa-download
                  a(href='/file/download') Download
            h3.menu-title 
            // /.menu-title
            li.menu-item-has-children.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.menu-icon.fa.fa-cogs
                | Settings
              ul.sub-menu.children.dropdown-menu
                li
                  i.menu-icon.fa.fa-user
                  a(href='/user') Profil
                li
                  i.menu-icon.fa.fa-terminal
                  a(href='/Administration') Administration
        // /.navbar-collapse
    // /#left-panel
    // Left Panel
    // Right Panel
    #right-panel.right-panel
      // Header
      header#header.header
        .header-menu
          .col-sm-7
            a#menuToggle.menutoggle.pull-left
              i.fa.fa.fa-tasks
            .header-left
              button.search-trigger
                i.fa.fa-search
              .form-inline
                form.search-form
                  input.form-control.mr-sm-2(type='text', placeholder='Search ...', aria-label='Search')
                  button.search-close(type='submit')
                    i.fa.fa-close
              .dropdown.for-notification
                button#notification.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.fa.fa-bell
                  span.count.bg-danger 5
                .dropdown-menu(aria-labelledby='notification')
                  p.red You have 3 Notification
                  a.dropdown-item.media.bg-flat-color-1(href='#')
                    i.fa.fa-check
                    p Server #1 overloaded.
                  a.dropdown-item.media.bg-flat-color-4(href='#')
                    i.fa.fa-info
                    p Server #2 overloaded.
                  a.dropdown-item.media.bg-flat-color-5(href='#')
                    i.fa.fa-warning
                    p Server #3 overloaded.
              .dropdown.for-message
                button#message.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.ti-email
                  span.count.bg-primary 9
                .dropdown-menu(aria-labelledby='message')
                  p.red You have 4 Mails
                  a.dropdown-item.media.bg-flat-color-1(href='#')
                    span.photo.media-left
                      img(alt='avatar', src='/images/avatar/1.jpg')
                    span.message.media-body
                      span.name.float-left Jonathan Smith
                      span.time.float-right Just now
                      p Hello, this is an example msg
                  a.dropdown-item.media.bg-flat-color-4(href='#')
                    span.photo.media-left
                      img(alt='avatar', src='/images/avatar/2.jpg')
                    span.message.media-body
                      span.name.float-left Jack Sanders
                      span.time.float-right 5 minutes ago
                      p Lorem ipsum dolor sit amet, consectetur
                  a.dropdown-item.media.bg-flat-color-5(href='#')
                    span.photo.media-left
                      img(alt='avatar', src='/images/avatar/3.jpg')
                    span.message.media-body
                      span.name.float-left Cheryl Wheeler
                      span.time.float-right 10 minutes ago
                      p Hello, this is an example msg
                  a.dropdown-item.media.bg-flat-color-3(href='#')
                    span.photo.media-left
                      img(alt='avatar', src='/images/avatar/4.jpg')
                    span.message.media-body
                      span.name.float-left Rachel Santos
                      span.time.float-right 15 minutes ago
                      p Lorem ipsum dolor sit amet, consectetur
          .col-sm-5
            .user-area.dropdown.float-right
              a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                img.user-avatar.rounded-circle(src='/images/admin.jpg', alt='User Avatar')
              .user-menu.dropdown-menu
                a.nav-link(href='/user')
                  i.fa.fa-.user
                  | My Profile
                a.nav-link(href='#')
                  i.fa.fa-.user
                  | Notifications 
                  span.count 13
                a.nav-link(href='#')
                  i.fa.fa.-cog
                  | Settings
                a.nav-link(href='#')
                  i.fa.fa-power.-off
                  | Logout
            #language-select.language-select.dropdown
              a#language.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                i.flag-icon.flag-icon-us
              .dropdown-menu(aria-labelledby='language')
                .dropdown-item
                  span.flag-icon.flag-icon-fr
                .dropdown-item
                  i.flag-icon.flag-icon-es
                .dropdown-item
                  i.flag-icon.flag-icon-us
                .dropdown-item
                  i.flag-icon.flag-icon-it
      // /header
      // Header
      .breadcrumbs
        .col-sm-4
          .page-header.float-left
            .page-title
              h1 #{title}
        .col-sm-8
          .page-header.float-right
            .page-title
              ol.breadcrumb.text-right
                li #{chemin} / #{title}
      block content
