extends login_layout

block content
  .bg-black
    .sufee-login.d-flex.align-content-center.flex-wrap
      .container
        .login-content
          .login-logo
            a(href='/')
              img.align-content(src='images/logo.png', alt='')
          .login-form
            form(action='/login/log', method='POST')
              .form-group
                label Email address
                input.form-control(type='email', name='email', placeholder='Email')
              .form-group
                label Password
                input.form-control(type='password', name='pwd', placeholder='Password')
              .checkbox
                label
                  input(type='checkbox')
                  |  Remember Me
                label.pull-right
                  a(href='#') Forgotten Password?
              button.btn.btn-success.btn-flat.m-b-30.m-t-30(type='submit') Sign in
              .register-link.m-t-15.text-center
                p
                  | Don't have account ? 
                  a(href='#')  Sign Up Here
    