doctype html
html
 head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/themify-icons.css')
    link(rel='stylesheet', href='/css/flag-icon.min.css')
    link(rel='stylesheet', href='/css/cs-skin-elastic.css')
    link(rel='stylesheet', href='/scss/style.css')
    link(href='/css/lib/vector-map/jqvmap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800', rel='stylesheet', type='text/css')


    script(src='/js/vendor/jquery-2.1.4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js')
    script(src='/js/plugins.js')
    script(src='/js/main.js')
    script(src='/js/lib/chart-js/Chart.bundle.js')
    script(src='/js/dashboard.js')
    script(src='/js/widgets.js')
    script(src='/js/lib/vector-map/jquery.vmap.js')
    script(src='/js/lib/vector-map/jquery.vmap.min.js')
    script(src='/js/lib/vector-map/jquery.vmap.sampledata.js')
    script(src='/js/lib/vector-map/country/jquery.vmap.world.js')
    script(src='/js/popper.min.js')
    script(src='/js/plugins.js')
       
    body(class='bg-dark')
    
      block content