extends layout

block content
  .col-md-8.offset-md-2
    .card
      .card-header
        strong Liste des questionnaires
      .card-body.card-block
        .text-center
          table.table
            thead
              tr
                th(scope='col') Titre
                th(scope='col') Groupe
                th(scope='col') Action
            tbody
              for q in quiz
                tr
                  td= q.title
                  td.t(style='width:40%')
                    for g in q.groups                      
                      a #{g.name}
                  td.t(style='width:30%')
                    button.btn.btn-warning.btn-sm(type='modify')
                      i.fa.fa-pencil
                    button.btn.btn-danger.btn-sm(type='delete' onclick="window.open('/quiz/delete/#{q._id}', '_blank');")
                      i.fa.fa-trash
                    button.btn.btn-dark.btn-sm(type='close')
                      i.fa.fa-ban
                    form(action='/quiz/manage/#{q._id}')
                      button.btn.btn-primary.btn-sm(type='submit')
                        a Gestion des groupes