extends signup_layout
block content
  .bg-black
    .sufee-login.d-flex.align-content-center.flex-wrap
      .container
        .login-content
          .login-logo
            a(href='/')
              img.align-content(src='images/logo.png', alt='')
          .login-form
            form(action='/signup/new', method='POST')
              .form-group
                label First Name
                input.form-control(type='firstName', name='firstName', placeholder='First Name')
              .form-group
                label Name
                input.form-control(type='name', name='name', placeholder='Name')
              .form-group
                label Email address
                input.form-control(type='email', name='email', placeholder='Email')
              .form-group
                label Password
                input.form-control(type='password', name='pwd', placeholder='Password')
              .form-group
                label Password Confirmation
                input.form-control(type='password', name='confPwd', placeholder='Password Confirmation')
              button.btn.btn-success.btn-flat.m-b-30.m-t-30(type='submit') Register
              